<%- model_class = Municipio -%>
<div    class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:postos_pesquisados) %></th>
      <th><%= model_class.human_attribute_name(:consumidor_preco_medio) %></th>
      <th><%= model_class.human_attribute_name(:consumidor_desvio_padrao) %></th>
      <th><%= model_class.human_attribute_name(:consumidor_preco_minimo) %></th>
      <th><%= model_class.human_attribute_name(:consumidor_preco_maximo) %></th>
      <th><%= model_class.human_attribute_name(:distribuidor_margem_media) %></th>
      <th><%= model_class.human_attribute_name(:distribuidor_preco_medio) %></th>
      <th><%= model_class.human_attribute_name(:distribuidor_desvio_padrao) %></th>
      <th><%= model_class.human_attribute_name(:distribuidor_preco_minimo) %></th>
      <th><%= model_class.human_attribute_name(:distribuidor_preco_maximo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @municipios.each do |municipio| %>
      <tr>
        <td><%= link_to municipio.id, municipio_path(municipio) %></td>
        <td><%= municipio.nome %></td>
        <td><%= municipio.postos_pesquisados %></td>
        <td><%= municipio.consumidor_preco_medio %></td>
        <td><%= municipio.consumidor_desvio_padrao %></td>
        <td><%= municipio.consumidor_preco_minimo %></td>
        <td><%= municipio.consumidor_preco_maximo %></td>
        <td><%= municipio.distribuidor_margem_media %></td>
        <td><%= municipio.distribuidor_preco_medio %></td>
        <td><%= municipio.distribuidor_desvio_padrao %></td>
        <td><%= municipio.distribuidor_preco_minimo %></td>
        <td><%= municipio.distribuidor_preco_maximo %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_municipio_path(municipio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      municipio_path(municipio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_municipio_path,
            :class => 'btn btn-primary' %>
