<%= simple_form_for @posto, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nome %>
  <%= f.input :endereco %>
  <%= f.input :bairro %>
  <%= f.input :distribuidora %>
  <%= f.input :preco_venda %>
  <%= f.input :preco_compra %>
  <%= f.input :modalidade %>
  <%= f.input :fornecedor %>
  <%= f.input :data_coleta %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                postos_path, :class => 'btn' %>
  </div>
<% end %>
